
*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0} 
body { font: .74em Sans-Serif; color: #444; background: #f4f4f4; line-height: 1.6em; }
a { text-decoration: none; color: #008080; }
p  { margin: 0 0 15px; }

h1 { letter-spacing: -0.04em; font-size: 1.8em; }
h2 { font-size: 1.4em; margin: 10px 0 10px; color: #008080; }
h3 { font-size: 1.2em; margin: 0 0 6px; }

input[type="checkbox"] { vertical-align: middle; }

.header { height: 160px; background: #080808 url(../images/bg.jpg) no-repeat center top; color: #ccc; }
.header p { float: right; margin: 20px 0 0; }

.logo { float: left; margin: 40px 20px 50px 0; color: #fff; letter-spacing: .2em; font-size: 1.9em; }
.logo a { color: #fff; }

.wrap { width: 960px; margin: 0px auto 0px auto; overflow: hidden; }

.main { clear: left; float: left; width: 690px; } 

.l { float: left; width: 310px; }
.r { float: right; width: 330px; }
.l img, .r img { float: left; margin: 0 13px 5px 0; border: 2px solid #fff; }

.line { clear: both; border-bottom: 1px dotted #ccc; padding: 10px 0 0; margin: 0 0 20px; }

.side { float: right; width: 225px; color: #808080; background: #fff; padding: 11px; margin: 0 0 20px; }
.side a { color: #444; }
.side li { padding: 0 0 10px; }
	
.footer { height: 120px; padding: 20px 0; color: #888; border-top: 1px dotted #ccc; }
.footer ul { float: left; width: 140px; }
.footer ul li { padding: 0 0 3px; }
.footer div { float: right; width: 400px; text-align: right; }

.info { width: 98%; margin: 0px auto 0px auto; overflow: hidden; }

.left { width: 19%; float: left; }
.right { width: 80%; float: left; }

.search { width: 98%; margin-left: auto; margin-right: auto; overflow: hidden; }
.search table { width: 98%; margin-left: auto; margin-right: auto; overflow: hidden; }
.search table th { line-height: 25px; text-align: right; font-weight: normal; }
.search table td { line-height: 25px; }
.search table td select { line-height: 25px; width: auto!important; width: 60%; min-width: 60% !important; }

.list { width: 98%; margin-left: auto; margin-right: auto; overflow: hidden; }
.list table { width: 98%; margin-left: auto; margin-right: auto; overflow: hidden; text-align: center; }
.list table th { line-height: 25px; }
.list table td { line-height: 25px; }
.list div { min-height: 30px; line-height: 30px; }

.table { width: 98%; margin-left: auto; margin-right: auto; overflow: hidden; }
.table th { line-height: 25px; }
.table td { line-height: 25px; }
